*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  align-items: top;
}
::-webkit-scrollbar{
  display: none;
}
.main{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
/* Navbar CSS */

.nav{
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 3px solid #00d8ff;
}

.nav .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 40px;
  font-size: 35px;
  font-weight: 600;
  transition: all ease 0.4s;
  cursor: pointer;
}
.logo:hover{
  color:#00d8ff;
}

.logo .lg{
  width: 50px;
}

.nav .links ul{
  display: flex;
  list-style: none;
  gap: 30px;
  padding-right: 40px;
  font-size: 20px;
}

ul li{
  cursor: pointer;
  transition: all ease 0.4s;
  font-weight: 500;
}

li:hover{
  color: #00d8ff;
}

/* Facts Section */

.facts{
  width: 100vw;
  height: 70vh;
  position: relative;
}
.facts .f-txt{
  margin: 3rem;
  font-size: 4rem;
}
.facts .f-list{
  margin-left: 4rem;
  font-size: 2rem;
}
.f-list li{
  margin-bottom: 5px;
}

.facts img{
  position: absolute;
  width: 40rem;
  filter: grayscale(1);
  top: 0;
  transition: all ease 0.4s;
  right: -10rem;
  opacity: 0.8;
}

.facts img:hover{
  filter: grayscale(0);
}


@media (width<930px) {
  .nav{
    flex-direction: column;
    height: 150px;
    justify-content: center;
    gap: 10px;
  }
  .nav .logo{
    padding: 0;
  }
  .nav .links ul{
    padding: 0;
    gap: 20px;
  }
  .facts .f-txt{
    font-size: 3rem;
    margin-top: 2rem;
  }
  .facts .f-list{
    font-size: 1.2rem;
  }
  .facts img{  
    right: 0;
    opacity: 0.2;
    z-index: -1;
  }
}